@font-face {
    font-family: 'Highway Gothic';
    src: url('https://assets.website-files.com/594bf24620923a5a84fc2c8f/5fa459c2033e749e697ac835_Highway%20Gothic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Highway Gothic Condensed';
    src: url('https://assets.website-files.com/594bf24620923a5a84fc2c8f/5fa459c22173342bb130c9c3_Highway%20Gothic%20Condensed.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular';
    src: url('https://assets.website-files.com/594bf24620923a5a84fc2c8f/5d1173d5d12a1e4f29ebdf7c_CircularStd-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular';
    src: url('https://assets.website-files.com/594bf24620923a5a84fc2c8f/5d1173d589e2710693068ea7_CircularStd-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    font-family: Circular, sans-serif;
    color: #2c2e38;
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
}

.top-nav {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.top-nav.header-bg {
    background: #fff;
}

.top-nav-gradient {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1e232b), to(transparent));
    background-image: linear-gradient( 180deg, #1e232b, transparent);
    opacity: .77;
}

.logo {
    padding: 32px 0px;
}

.hero-content {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-top: 160px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
    padding-bottom: 50px;
}

/* moved #header-hero inline for variable background image URL*/

/*#header-hero{
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 58, 0.8)), to(rgba(46, 47, 58, 0.8))),
			url("${headerHeroBackgroundImg}");
		background-image: linear-gradient(180deg, rgba(46, 47, 58, 0.8), rgba(46, 47, 58, 0.8)),
			url("${headerHeroBackgroundImg}");
		
		background-position: 0 0, 50% 50%;
		background-size: auto, cover;
		text-align: left;
	}*/

.tag {
    color: #858d99;
    font-size: 12px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-title {
    margin: 40px 0 10px;
    font-size: 54px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -1.6px;
    color: #fff;
}

.hero-description,
.hero-description ul,
.hero-description ul li {
    color: #fff;
    opacity: .7;
    line-height: 160%;
    margin: 0;
}

/*FORM WRAPPER*/

.form-header {
    position: relative;
    padding: 28px 16px 10px;
    /*padding: 28px 16px 30px;*/
    text-align: center;
}

.form-block-wrapper {
    /*padding-right: 30px;
		padding-bottom: 30px;
		padding-left: 30px;*/
}

/*FORM*/

.cta-button {
    padding: 15px 31px;
    background-color: #4abf4f;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .8px;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    text-transform: uppercase;
    line-height: 1.2;
}

.cta-button.hero-button {
    margin-top: 30px;
    display: inline-block;
}

@media(min-width: 601px) {
    .form-block-wrapper {
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
    form.mktoForm .mktoFormRow:nth-child(2) .mktoFormCol,
    form.mktoForm .mktoFormRow:nth-child(3) .mktoFormCol {
        width: 49% !important;
    }
    form.mktoForm .mktoFormRow:nth-child(2) .mktoFormCol:first-child,
    form.mktoForm .mktoFormRow:nth-child(3) .mktoFormCol:first-child {
        margin-right: 1% !important;
    }
    form.mktoForm .mktoFormRow:nth-child(2) .mktoFormCol:nth-child(2),
    form.mktoForm .mktoFormRow:nth-child(3) .mktoFormCol:nth-child(2) {
        margin-left: 1%;
    }
}

form.mktoForm {
    font-family: Circular, sans-serif !important;
}

form.mktoForm .mktoField {
    border: 1px solid #ccc !important;
}

form.mktoForm button.mktoButton {
    background: #4abf4f !important;
    padding: 18px 50px !important;
    font-size: 16px !important;
    line-height: 18px !important;
    letter-spacing: 1.5px !important;
    text-transform: uppercase !important;
    background-color: #4abf4f !important;
    border: 2px solid #4abf4f !important;
    border-radius: 400px !important;
    text-align: left;
}

form.mktoForm button.mktoButton:hover {
    color: #4abf4f !important;
    background-color: transparent !important;
    border-color: #4abf4f !important;
}

form.mktoForm .mktoAsterix {
    color: #333 !important;
    float: right !important;
    padding-left: 20px !important;
}

form.mktoForm .mktoRequiredField label.mktoLabel {
    display: inline-block !important;
    width: auto !important;
}

form.mktoForm a {
    color: #4abf4f;
}

.mktoHtmlText.mktoHasWidth {
    font-size: 14px !important;
    line-height: 160% !important;
    margin-top: 10px !important;
}

/*END FORM*/

.webinar-image {
    width: 100%;
    height: 270px;
    border-radius: 6px;
    -o-object-fit: cover;
    object-fit: cover;
}

.col-xl-7.c-width-58.lineheight-reset {
    line-height: 0;
}

section.content {
    padding: 60px 0 100px;
}

section.content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 130%;
    font-weight: 400;
}

section.content p,
section.content ul {
    margin-top: 0;
    margin-bottom: 1em;
    opacity: .7;
}

section.content h3 {
    font-size: 28px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 120%;
    font-weight: 400;
}

section.content ul li {
    margin-bottom: 0.25em;
    padding-left: 5px;
}

section.content .register-form {
    top: 110px;
    margin-top: -110px;
}

section.content .register-form .form-wrapper {
    box-shadow: 0 6px 12px 0 rgb(21 23 26 / 12%);
    border-radius: 6px;
    background-color: #fff;
}

section.footer {
    padding-top: 75px;
    padding-bottom: 75px;
    border-top: 1px rgba(21, 23, 26, .2);
    background-color: #e8ecef;
    text-align: center;
}

.footer-logo {
    margin-bottom: 20px;
}

.copyright {
    margin-bottom: 7px;
    opacity: .4;
    font-size: 15px;
}

.footer-meta {
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    opacity: .4;
    font-size: 11px;
    line-height: 140%;
}

.footer-nav ul {
    padding: 0px;
    list-style: none;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav li a {
    display: inline-block;
    padding-right: 19px;
    padding-left: 19px;
    opacity: .4;
    color: #2c2e38;
    font-size: 15px;
    background-color: transparent;
    -webkit-transition: background-color .2s, opacity .2s, color .2s;
    transition: background-color .2s, opacity .2s, color .2s;
    text-decoration: none;
}

.footer-nav li a:hover {
    opacity: 1;
}

.social-nav ul {
    padding: 0px;
    list-style: none;
}

.social-nav li {
    display: inline-block;
}

.social-nav li a {
    padding-right: 14px;
    padding-left: 14px;
    opacity: .5;
}

.social-nav li a:hover {
    opacity: 1;
}

@media screen and (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1264px;
    }
}

@media screen and (min-width:1200px) {
    .col-xl-7.c-width-58 {
        width: 58%;
    }
    .col-xl-5.c-width-37 {
        width: 36.3%;
        padding: 0px;
    }
}

@media screen and (max-width: 991px) {
    .webinar-image {
        height: 54vw;
        margin-bottom: 30px;
    }
    section.content .register-form {
        top: 0px !important;
        margin: 0px 0 30px 0 !important;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        padding: 18px 0px;
    }
    .logo img {
        height: 26px;
    }
    .hero-content {
        padding-top: 100px;
        padding-bottom: 40px;
    }
    .hero-title {
        margin: 30px 0 10px;
        font-size: 40px;
    }
    /*new mobile style*/
    section.content {
        padding-top: 20px;
    }
    /*end new mobile style*/
    section.content h2 {
        font-size: 25px;
    }
    .cta-button {
        padding: 10px 16px;
    }
    .footer-nav li {
        display: block;
    }
}